body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background: #1F2937;
    padding: 0 240px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9faf8;
}

.menu,
h2 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    background: #1F2937;
    display: flex;
    align-items: flex-start;
    padding: 50px 240px;
    gap: 30px;

}

.text {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin: 0;
}

button {
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 9px 40px;
}

.title img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
}

.images img {
    border: 4px solid #e5e7eb;
    border-radius: 5px;
    width: 220px;
    height: 150px;
    object-fit: cover;
}

.images {
    padding: 10px 240px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.image1,
.image2,
.image3,
.image4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    width: 220px;
    height: 150px;
    color: #1F2937;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.quotes {
    background-color: #e5e7eb;
    padding: 60px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.someone {
    text-align: right;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    padding: 0 50px;
}